<button class='btn btn-block btn-outline-warning rounded-0' data-toggle="modal" data-target="#create_post">
  <span class='h5'>What's on your mind, <%= current_user.username %>?</span>
</button>
<%= render @recent_posts %>
